src/MyXml/P42.dtd

<?xml version="1.0" encoding="GB2312" ?>
        <!ELEMENT 姓名 (#PCDATA)>
        <!ELEMENT 曾用名 (#PCDATA)>
        <!ELEMENT 性别 (#PCDATA)>
        <!ELEMENT 院系 (#PCDATA)>
        <!ELEMENT 联系电话 (#PCDATA)>
        <!ELEMENT 论文题目 (#PCDATA)>
        <!ELEMENT 期刊名称 (#PCDATA)>
        <!ELEMENT 发表时间 (#PCDATA)>
        <!ELEMENT 丈夫 (姓名,联系电话*)>
        <!ELEMENT 妻子 (姓名,联系电话*)>
        <!ELEMENT 配偶 (妻子|丈夫)>
        <!ELEMENT 教师 (姓名,曾用名*,性别,院系,联系电话+,配偶,(论文题目,期刊名称,发表时间)*)>
        <!ELEMENT 教师列表 (教师*)>
